<!-- include header -->
    <%- include('include/_header')%>
<!-- /include header -->
<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/add-user" class="border-shadow">
                <span class="text-gradient">New Student. <i class="fas fa-user"></i></span>
            </a>
        </div>

        <!-- form handling-->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>StudentID</th>
                        <th>Name</th>
                        <th>@Email</th>
                        <th>Phone Number</th>
                        <th>Lectures</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_show')%>
                </tbody>
            </table>
        </form>


        <!-- Add Lectures -->
        <div class="box-nav d-flex-justify-between">
            <a href="/add-lecture" class="border-shadow">
                <span class="text-gradient">Add Lecture <i class="fas fa-book-open"></i></span>
            </a>
        </div>

        <!-- form handling-->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Lecture</th>
                        <th>Professor Name</th>
                        <th>Lecture Room</th>
                        <th>Phone Number</th>
                        <th>Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_lectureShow')%>
                </tbody>
            </table>
        </form>
        
    </div>
</main>
<!-- /Main Site -->

<!-- include header -->
    <%- include('include/_footer')%>
<!-- /include header -->