<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->
<!-- Main Site -->
<main id="site-main">
    <div class="container">

        
        <!-- Add Lectures -->
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i> 교수 계정</a>
            </div>
        </div>
       
        <!-- form handling-->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>professorID</th>
                        <th>password</th>
                        <th>Name</th>
                        <th>@Email</th>
                        <th>Phone Number</th>
                        <th>Lecture</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_showProfessor')%>
                </tbody>
            </table>
        </form>

        <div class="box-nav d-flex-justify-between">
            <a href="/add-professor" class="border-shadow">
                <span class="text-gradient">계정 등록하기 <i class="fas fa-book-open"></i></span>
            </a>
        </div>
        
    </div>
</main>
<!-- /Main Site -->

<!-- include header -->
    <%- include('include/_footer')%>
<!-- /include header -->