<!-- form handling-->
<form action="/api/lectures" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="Lecture" class="text-light">Lecture</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="lecture" value="">
        </div>
        <div class="form-group">
            <label for="lectureID" class="text-light">LectureID</label>
            <input type="text" name="lectureID" value="">
        </div>
        <div class="form-group">
            <label for="lectureTime" class="text-light">Lecture Time</label>
            <input type="number" name="lectureTime" value="">
        </div>
        <div class="form-group">
            <label for="time" class="text-light">Time</label>
            First Lecture: <input type="datetime-local" id="firstLecture" name="firstLecture">
            Second Lecture: <input type="datetime-local" id="secondLecture" name="secondLecture">
        </div>
        
        <div class="form-group">
            <label for="lessonTime" class="text-light">LessonTime</label>
            <input type="number" name="lessonTime" value="">
        </div>
        
       
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>